<div class="container">
  <div class="choiceList">
    <div class="card" [ngClass]="[pokemon._class]" [ngClass]="'active'" (click)="selectPokemon(pokemon)"
      *ngFor="let pokemon of pokemonsList" (mouseover)="zoom($event, pokemon)" (mouseleave)="dezoom($event, pokemon)">
      <img src="{{pokemon._image}}" alt="Avatar" class="cardImage">
      <div>
        <h4><b>{{pokemon._name}}</b></h4>
        <p>PV : {{pokemon._pv}}</p>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  COPYRIGHTS Ⓒ 2020 - Réalisé par Angelo, Neal et Christopher
</div>
