<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img src="../assets/img/back.png" width="100%"/>
      <img src="{{this.Attacker?._sprite?._back}}" class="sprite-moves" alt="attaker">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../assets/img/back.png" width="100%"/>
      <img src="{{this.Defender?._sprite?._front}}" class="middle" alt="defender">
    </mat-grid-tile>

    <mat-grid-tile>
    <app-data-fighter [pokemonData]="Attacker"></app-data-fighter>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-data-fighter [pokemonData]="Defender"></app-data-fighter>
  </mat-grid-tile>
  </mat-grid-list>


</div>


<div class="example-button-row buttonContainer"  *ngIf="!isStarted && !isOver">
  <button mat-raised-button color="warn" (click)="launch()" class="buttonGo">Go</button>
</div>
<div class="example-button-row buttonContainer"  *ngIf="!isStarted && isOver">
  <button mat-raised-button color="warn" class="buttonGo" (click)="reset()">Reset</button>
</div>

<div>
  <span *ngIf="begin"> > DEBUT : {{ begin | date:'shortTime'}}</span>
  <app-infos [infos_battle]="logs"></app-infos>
  <span *ngIf="end"> > FIN : {{ end | date:'shortTime'}}</span>
</div>

<div *ngIf="looser" class="looser">
 Game Over : {{looser?._name}}
</div>
