<div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img src="{{this.Attacker._sprite._back}}" class="sprite-moves" alt="attaker">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{this.Defender._sprite._front}}" alt="defender">
      <span class="dot"></span>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-list  class="infoBottom">
        <p> <b>NOM </b> : {{Attacker._name}}</p>
        <p [ngClass]="{pvStyleActive: this.Attacker._pv > 0, pvStyleInactive: this.Attacker._pv <= 0}"> <b>PV </b> : {{Attacker._pv}}</p>
        <p> <b>VITESSE </b> : {{Attacker._speed}}</p>
        <p> <b>LEVEL </b>  : {{Attacker._level}}</p>
        <p> <b>OFFENSIVE </b> : {{Attacker._offensiveStat}}</p>
        <p> <b>DEFENSIVE </b> : {{Attacker._defensiveStat}}</p>
      </mat-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-list  class="infoBottom">
        <p> <b>NOM </b> : {{Defender._name}}</p>
        <p [ngClass]="{pvStyleActive: this.Defender._pv > 0, pvStyleInactive: this.Defender._pv <= 0}"> <b>PV </b> : {{Defender._pv}}</p>
        <p> <b>VITESSE </b> : {{Defender._speed}}</p>
        <p> <b>LEVEL </b>  : {{Defender._level}}</p>
        <p> <b>OFFENSIVE </b> : {{Defender._offensiveStat}}</p>
        <p> <b>DEFENSIVE </b> : {{Defender._defensiveStat}}</p>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>


</div>


<div class="example-button-row buttonContainer"  *ngIf="!isStarted && !isOver">
  <button mat-raised-button color="warn" (click)="launch()" class="buttonGo">Go</button>
</div>
<div class="example-button-row buttonContainer"  *ngIf="!isStarted && isOver">
  <button mat-raised-button color="warn" class="buttonGo" (click)="reset()">Reset</button>
</div>

<div>
  <span *ngIf="begin"> > DEBUT : {{ begin | date:'shortTime'}}</span>
  <app-infos [infos_battle]="logs"></app-infos>
  <span *ngIf="end"> > FIN : {{ end | date:'shortTime'}}</span>
</div>

<div *ngIf="looser" class="looser">
 Game Over : {{looser._name}}
</div>
