<div class="title">
  Fights
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-list>
      <mat-list-item> NOM : </mat-list-item>
      <mat-list-item> VITESSE : </mat-list-item>
      <mat-list-item> PV : </mat-list-item>
      <mat-list-item> LEVEL : </mat-list-item>
      <mat-list-item> LEVEL : </mat-list-item>
     </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>image</mat-grid-tile>
  <mat-grid-tile>image</mat-grid-tile>

  <mat-grid-tile>
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
     </mat-list>
  </mat-grid-tile>
</mat-grid-list>
